<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFacturationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7880/FacturationWCF/FacturationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFacturationService"
                contract="FacturationService.IFacturationService" name="BasicHttpBinding_IFacturationService" />
        </client>
    </system.serviceModel>
</configuration>